/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    width: 1024px;
	padding: 35px 75px;
	margin: 0 auto;
}

.container about-page {
    line-height: 1;
    width: 1024px;
	padding: 35px 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}

.top1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.phone {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 30px;
    padding-top: 30px;

}


ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

 .flex, .alone, .top { 
        display: flex;
        flex-direction: row;
 }
 
 .alone {
     padding-left: 5%;
     padding-bottom: 4%
 }

 .top, a { 
     padding-left: 10px;
     display: flex;
     justify-content: space-between;
     margin-right: 22%;
     margin-top: 2%;
     margin-left: 2%;
 }


nav a {
	color: black;
	text-decoration: none;
}

.logo2 {
    padding-bottom: 1%;
    margin-left: 5%;
}

.logostretch {
    width: 90%;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
    padding-top: 15px;
}
.work {
    padding-top: 15px;
}

p {
    line-height: 1.5;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.about{
    border-bottom: 1px dashed black;
    padding-bottom: 30px;
}

.life {
    width: 93%;
}

.life:hover{
    border: 6px dotted #000405;
  }

.ai{
    width: 93%;
}

.ai:hover{
    border: 6px dashed rgb(0, 160, 235);
  }

.person{
    width: 93%
}

.person:hover{
    border: 6px dashed #000203;
  }

.thinking{
    width: 93%;
}

.thinking:hover{
    border: 6px dotted rgb(0, 160, 235);
  }

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 12.5%;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-1{
    background: teal;
}
.box-2{
    background: gold;
}
.box-3{
    background: cadetblue;
}
.box-4{
    background: coral;
}
.box-5{
    background: crimson;
}
.box-6{
    background: forestgreen;
}
.box-7{
    background: darkorchid;
}
.box-8{
    background: hotpink;
}
.box-9{
    background: indigo;
}
.box-10{
    background: dodgerblue;
}

button {
	font-family: 'Titillium Web', sans-serif;
	border: 3px solid black;
	font-size: 15px;
	font-weight: none;
	width: 33%;
	height: 30px;
	text-align: center;
	line-height: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
 
}
.phone {
        padding-top: 35px;
        margin-top: 15px;
}

.dot {
    border-bottom: 1px dashed #000;
}

.work {
    padding-bottom: 30px;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: blue;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}